.PostAnuncios {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
}

.step-counter-anuncios {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #333;
  width: 100%;
  max-width: 740px;
  font-size: 2rem;
}


.step-counter-anuncios p {
  padding-bottom: 1rem;
}

.step-bar-anuncios {
  width: 100%;
  height: 13px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 8px;
  overflow: hidden;
}

.step-progress-anuncios {
  height: 100%;
  width: 50%;
  background-color: #000;
  transition: width 0.3s ease;
}

.step-progress-anuncios.complete {
  width: 100%;
}

.PostAnuncios form {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.PostAnuncios h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #555;
}

.PostAnuncios textarea {
  margin-top: 1rem;
  width: 100%;
  min-height: 100px;
  padding: 0.8rem;
  font-size: 1rem;
  color: #555 !important;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 5px;
  resize: none;
  /* impede o redimensionamento manual */
  background-color: transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

.PostAnuncios input {
  width: 100%;
  height: 50px;
  padding: 0.8rem;
  font-size: 1rem;
  color: #555 !important;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: border-color 0.3s ease;
  outline: none;
}

.PostAnuncios select {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  background-color: #fff;
  transition: border-color 0.3s ease;
  outline: none;
}

.PostAnuncios input:focus,
.PostAnuncios select:focus,
.PostAnuncios textarea:focus {
  border-color: #999;
  background-color: #fff;
}

.PostAnuncios button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #000;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.PostAnuncios button:hover {
  background-color: #333;
}

.PostAnuncios .checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  width: 100%;
  justify-content: left;
  padding: 0.5rem 0.5rem 0.5rem 4rem;
  position: relative;
}

.PostAnuncios .checkbox-label input {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 0;
  accent-color: #000;
  transform: scale(1.2);
  margin-top: 0;
}

.PostAnuncios form input {
  width: 100%;
}

.PostAnuncios .checkbox-label input[type="checkbox"]:checked {
  background-color: #555;
  border-color: #000;
}

.form-etapa2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.material-cravejado-wrapper {
  width: 100%;
}

.PostAnuncios form label {
  width: 100%;
}

.PostAnuncios form>div,
.PostAnuncios form>div>div {
  width: 100%;
}