.return {
  position: absolute;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 100px;
  left: 65px;
  font-size: 1.5rem;
  font-weight: normal;
}

.return img {
  width: 24px;
}

.return a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.return a:hover {
  text-decoration: underline;
}

.PostAnuncios {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  min-height: 100vh;
  width: 100%;
}

.step-counter {
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold;
  color: #0c0c0c;
  /* ou sua cor de texto preferida */
  width: 300px;
}

.step-bar {
  width: 100%;
  height: 13px;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 4px;
  margin-top: 8px;
  overflow: hidden;
}

.step-progress {
  height: 100%;
  width: 50%;
  background-color: #555;
  transition: width 0.3s ease-in-out;
}

.step-progress.complete {
  width: 100%;
}

.PostAnuncios form {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.PostAnuncios h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #555;
}

.PostAnuncios label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  color: #555;
}

.PostAnuncios textarea {
  width: 100%;
  height: 50px;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  color: #555 !important;
  box-sizing: border-box;
  background-color: #f4f8f9;
  resize: none;
  /* Impede o redimensionamento manual */
}

.PostAnuncios input {
  width: 100%;
  height: 50px;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  color: #555 !important;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.PostAnuncios select {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #555;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
  font-size: 1.1rem;
  background-color: #fff;
}

.PostAnuncios input,
.PostAnuncios select,
.PostAnuncios textarea:focus {
  outline: none;
  border-color: #555;
}

.PostAnuncios input:focus,
.PostAnuncios select:focus,
.PostAnuncios textarea:focus {
  outline: none;
  border-color: #999;
  background-color: #fff;
}

.PostAnuncios textarea {
  resize: vertical;
  min-height: 100px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: transparent;
}

.PostAnuncios button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #555;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.PostAnuncios button:hover {
  background-color: #3b3b3b;
}

.PostAnuncios .radio-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
}

.PostAnuncios .radio-label input[type="radio"] {
  accent-color: #050505;
  /* cor da marca */
  width: 20px;
  /* opcional: tamanho da caixa */
  height: 20px;
  /* opcional: tamanho da caixa */
  transform: scale(1.2);
  /* aumenta o tamanho geral */
}

.PostAnuncios .radio-label input[type="radio"]:checked {
  background-color: #555;
  border-color: #555;
}

.CadastroAnuncio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  background: white;
  border-radius: 12px;
}


.CadastroAnuncio h2 {
  color: #dc3545;
  margin-bottom: 1rem;
  font-weight: 600;
}

.CadastroAnuncio button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.CadastroAnuncio button:hover {
  background-color: #c82333;
  box-shadow: 0 4px 12px rgba(220, 53, 69, 0.2);
}