.uploader-container {
  border: 2px dashed #000;
  padding: 2.5rem;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  color: #0c0c0c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.uploader-container:hover {
  background-color: #f8f8f8;
  transform: scale(1.01);
}

.uploader-container.dragging {
  border-color: #000;
  background-color: #fff9e6;
}

.uploader-container p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #0c0c0c;
}

.upload-button {
  background-color: #0c0c0c;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.upload-button:hover {
  background-color: #181818;
  transform: scale(1.05);
}

.file-list {
  margin-top: 1.5rem;
  text-align: left;
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  font-size: 0.9rem;
  color: #0c0c0c;
  border-top: 1px solid #000;
  padding-top: 0.75rem;
}

.file-list li {
  margin-bottom: 0.4rem;
  padding-left: 1rem;
  position: relative;
}

.file-list li::before {
  content: "•";
  color: #d9b346;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.file-input {
  display: none;
}

