.Admin {
  height: 100vh;
  width: 100%;
  background-color: rgb(244 244 244);
  display: flex;
  margin-top: 5rem;
}

.Admin__menu {
  width: 20%;
  height: 100%;
  border-right: 1px solid #3333333b;
}

.Admin__menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Admin__menu ul li {
  width: 100%;
  height: 70px;
}

.Admin__menu ul li button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #3333333b;
  text-align: left;
  padding-left: 2rem;
  transition: 0.3s ease;
}

.Admin__menu ul li button:hover {
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}

.Admin__all {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  overflow-y: auto;
}