.Carrinho {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255 255 255 / 95%);
  padding-top: 5rem;
  overflow: hidden;
}

svg {
  fill: #454843 !important;
  stroke: #454843 !important;
}

.carrinho-container {
  width: 100%;
  flex: 1;
  height: 100%;
  padding-inline: 2.1rem;
}

.carrinho-titulo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: 600;
}

.carrinho-content {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.carrinho-content-top {
  width: 100%;
  height: 50px;
  padding-left: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  color: #000;
}

.carrinho-content-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.carrinho-items {
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carrinho-item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #eee;
  transition: background-color 0.2s;
  min-height: 100px;
  margin-bottom: 10px;
}

.carrinho-item:hover {
  background-color: #f8f9fa;
}

.carrinho-item:last-child {
  border-bottom: none;
}

.item-imagem {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.item-imagem:hover img {
  transform: scale(1);
  cursor: pointer;
}

.item-detalhes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-detalhes h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
  font-weight: 600;
}

.item-tipo,
.item-material,
.item-cravejado {
  color: #666;
  font-size: 0.9rem;
  margin: 0;
}

.item-quantidade {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  user-select: none;
}

.item-quantidade button {
  background-color: transparent;
  border: none;
  color: #0c0c0c;
  font-size: 1.2rem;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-quantidade button:hover:not(:disabled) {
  background-color: #28282833;
}

.item-quantidade button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.item-quantidade span {
  font-size: 1.1rem;
  font-weight: 600;
  min-width: 24px;
  text-align: center;
  color: #181818;
}

.item-valor {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

.btn-remover {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: #dc3545;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.9rem;
  transition: all 0.2s;
  border-radius: 4px;
  border-radius: 9px;
}

.btn-remover:hover {
  color: #c82333;
  background-color: rgba(220, 53, 69, 0.1);
}

.carrinho-resumo {
  background: white;
  padding: 1.5rem;
  height: fit-content;
  position: sticky;
  top: 100px;
  border: 1px solid #eee;
  margin-top: 23px;
}

.carrinho-resumo span {
  color: #333;
}

.carrinho-resumo h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.resumo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #666;
  font-size: 0.95rem;
}

.resumo-total {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  padding-top: 1rem;
  border-top: 2px solid #eee;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.btn-finalizar-compra {
  min-width: 100%;
  height: 60px;
  width: 100%;
  padding: 1rem;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 4px;
}

.btn-finalizar-compra:hover:not(:disabled) {
  background-color: #222222;
}

.btn-finalizar-compra:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #000000;
}

.btn-finalizar-compra:hover {
  background-color: #282828;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.installments,
.pix-discount {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.pix-discount {
  color: #28a745;
  font-weight: 500;
}

.btn-continuar-comprando {
  height: 40px;
  width: 120px;
  background-color: #252422;
  border: 1px solid #252422;
  color: #fff;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-continuar-comprando::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: height 0.3s ease;
  z-index: -1;
}

.btn-continuar-comprando:hover {
  cursor: pointer;
  color: #000;
}

.btn-continuar-comprando:hover::before {
  height: 100%;
}

.carrinho-vazio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  background: white;
  height: 300px;
}

.carrinho-vazio a {
  text-decoration: none;
}

.carrinho-vazio h2 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  font-weight: 600;
}

.carrinho-vazio p {
  color: #666;
  margin-bottom: 1.5rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 100%;
  min-height: 70vh;
}

.loading-text {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  font-weight: 600;
}

.loading-spinner-button-black {
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-spinner-button {
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-spinner-carrinho {
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* animação giratória */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-spinner-button,
.loading-spinner-carrinho {
  display: inline-block;
}

.carrinho-error {
  text-align: center;
  padding: 3rem;
  background: white;
  border-radius: 12px;
  margin-top: -90px;
}


.carrinho-error h2 {
  color: #dc3545;
  margin-bottom: 1rem;
  font-weight: 600;
}

.carrinho-error button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.carrinho-error button:hover {
  background-color: #c82333;

  box-shadow: 0 4px 12px rgba(220, 53, 69, 0.2);
}

.carrinho-footer {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: auto;
}

.carrinho-footer p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

.item-titulo-link {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.item-titulo-link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .Carrinho-top {
    width: 100%;
    height: auto;
    padding: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 768px) {
  .carrinho-content-bottom {
    grid-template-columns: 1fr;
  }

  .carrinho-item {
    grid-template-columns: 1fr;
  }

  .item-imagem {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  .item-valor {
    margin-top: 1rem;
  }

  .btn-remover {
    margin-top: 9rem;
  }

  .carrinho-resumo {
    position: static;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .carrinho-titulo {
    font-size: 1.5rem;
  }

  .carrinho-items,
  .carrinho-resumo,
  .carrinho-vazio,
  .carrinho-loading,
  .carrinho-error {
    padding: 1rem;
  }

  .item-imagem {
    width: 80px;
    height: 80px;
  }

  .item-detalhes h3 {
    font-size: 1rem;
  }

  .item-tipo,
  .item-material,
  .item-cravejado {
    font-size: 0.8rem;
  }

  .btn-finalizar-compra,
  .btn-continuar-comprando {
    font-size: 0.9rem;
    padding: 0.75rem;
  }

  .resumo-total {
    font-size: 1rem;
  }

  .installments,
  .pix-discount {
    font-size: 0.8rem;
  }
}

.frete-input {
  width: 100%;
  height: 50px;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  color: #000 !important;
  box-sizing: border-box;
  background-color: transparent;
}

.frete-input:focus {
  outline: none;
  border-color: #000;
}

.frete-btn {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 0.75rem;
  height: 60px;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.frete-btn:hover {
  background-color: #282828;
}

.frete-simulado {
  margin-top: 1rem;
  font-size: 0.95rem;
  text-align: center;
  background-color: #f8f8f8;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: #333;
}

.frete-gratis {
  color: #28a745;
  font-weight: bold;
}