.Principal {
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Separator{
  width: 100%;
  height: 100%;
}

.Principal__Create {
  width: 100%;
  height: auto;
  display: flex;
  padding-inline: 3rem;
  margin-bottom: 1rem;
}

.Principal__Create__button {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
  border: none;
}

.Principal__Create__button:hover {
  background-color: #3b3b3b;
  cursor: pointer;
}

.Principal__box {
  padding-inline: 3rem;
  margin-top: 1rem;
  width: 100%;
}

.Principal__box__detalhes {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  background-color: #333333aa;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 6px 6px 0 0;
  user-select: none;
}

.Principal__box__detalhes__item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1rem;
  border-right: 1px solid #555555aa;
  color: white;
  font-weight: normal;
  height: 50px;
}

.Principal__box__detalhes__item:last-child {
  border-right: none;
}

.Principal__box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Principal__box__item {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  border: 1px solid #ddd;
  border-top: none;
  padding: 1rem;
  align-items: center;
  transition: background-color 0.2s ease;
  cursor: default;
}

.Principal__box__item:nth-child(odd) {
  background-color: #fafafa;
}

.Principal__box__item:hover {
  background-color: #f0f0f0;
}

.Principal__box__item__inside {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  gap: 0.5rem;
}

.Principal__box__item__inside.acoes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Principal__box__item__inside button {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #333333aa;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Principal__box__item__inside button:hover {
  background-color: #161616c7;
}

.Principal__box p {
  padding: 1rem;
  text-align: center;
  color: #555;
  font-style: italic;
}
