/*Variaveis*/

:root {
  --text-color: #fff;
  --text-hover-color: #b9b9b9;
  --border-color: #ffffff;
  --border-hover-color: #b9b9b9;
  --text-transform: uppercase;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.45s ease, color 0.4s ease;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: var(--text-transform);
}

.navbar__brand {
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s ease;
}

.navbar__brand:hover {
  color: var(--text-hover-color);
}

/* Estilo para menu desktop */
.navbar__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar__list a {
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.navbar__list a:hover {
  color: var(--text-hover-color);
}

/* Botão abrir menu mobile */
.navbar__toggle {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar__toggle:hover {
  color: var(--text-hover-color);
}

/* Estilizando o menu mobile */
.navbar__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 12, 12, 0.95);
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile__container {
  list-style: none;
  padding-left: 1.5rem;
}

.navbar__mobile__container a {
  padding-left: 1.5rem;
}

.navbar__mobile__ul {
  padding: 3rem;
}

.navbar__mobile__ul li {
  text-align: left;
}

.navbar__mobile.open {
  transform: translateY(0);
}

.navbar__mobile ul {
  list-style: none;
  text-align: center;
}

.navbar__mobile li {
  margin: 20px 0;
}

.navbar__mobile a {
  font-size: 24px;
  font-weight: 600;
  color: var(--texto);
  transition: color 0.3s ease-in-out;
}

.navbar__mobile a:hover {
  color: var(--text-hover-color);
}

/* Botão fechar menu */
.navbar__close {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  border: 1px solid var(--border-color);
  transition: 0.3s ease;
}

.navbar__close:hover {
  color: var(--text-hover-color);
  border: 1px solid var(--border-hover-color);
}

.navbar.scrolled {
  background-color: white;
  border-bottom: 1px solid black;
}

.navbar.scrolled a {
  color: black;
}

.navbar.scrolled .navbar__mobile a {
  color: var(--text-color);
}

.navbar.scrolled .navbar__toggle {
  color: black;
}


/* Responsividade */
@media (max-width: 960px) {
  .navbar__list {
    display: none;
    /* Esconde a navegação desktop */
  }

  .navbar__toggle {
    display: block;
    /* Exibe o botão de abrir menu */
  }
}