.Profile {
  width: 100%;
  height: 100vh;
  color: aliceblue;
  background-color: rgb(41, 40, 38);
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile__box {
  margin-top: -100px;
  margin-right: -500px;
  width: 400px;
  height: 400px;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Profile__box ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Profile__box li {
  text-decoration: none;
  color: #fff;
}

.Profile__box button {
  padding: 1em;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 7px;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s ease;
}

.Profile__box button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.fotoperfil {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
