:root {
  --primary-color: #f9cdcd;
  --secondary-color: #fff;
  --accent-color: #262523;
  --text-dark: #000;
}

.Profile {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Profile__top {
  flex: 0 0 40%;
  min-height: 30vh;
  background-color: var(--accent-color);
}

.Profile__bottom {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  position: relative;
}

/* Novo container para as boxes */
.Profile__boxes {
  display: flex;
  gap: 50px; /* Espaço entre as caixas */
  flex-wrap: wrap; /* Ajuste se precisar empilhar em telas menores */
  justify-content: center;
}

.Profile__box__first,
.Profile__box__second {
  margin-top: -240px;
  height: 600px;
  width: 500px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #22222238;
}

.Profile__box__img__container {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  position: relative;
}

.Profile__box__img__container__left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Profile__box__img__container__right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera__img {
  background-color: transparent !important;
  border: none !important;
}

.camera__img:hover {
  background-color: #d6d6d6 !important;
}

.Profile__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Profile__img img {
  width: 100%;
  border-radius: 50%;
}

.Profile__box__img__container__right button {
  padding: 0.7rem 1.7rem;
  border-radius: 7px;
  border: 1px solid #33333365;
  font-size: 16px;
  background-color: #fff;
  transition: 0.3s ease;
}

.Profile__box__img__container__right button:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

.Profile__itens {
  width: 90%;
  height: auto;
  border: 1px solid #22222238;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Profile__item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.Profile__item__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #22222238;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  margin-top: 0.2rem;
  background-color: #fff;
}

.Profile__item__bottom__input {
  flex: 1;
  margin-right: 0.5rem;
}

.Profile__item__bottom__input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #000;
}

.Profile__item__bottom__button button {
  background: none;
  border: none;
  color: var(--text-dark);
  cursor: pointer;
  font-size: 16px;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.Profile__item__bottom__button button:hover {
  color: var(--accent-color);
}

.Profile__box__img__container__right .xbutton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -20px;
  right: 0;
}

.Profile__box__img__container__right .xbutton:hover {
  background-color: transparent;
  cursor: pointer;
}

.Profile__btn__container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__logout {
  background-color: transparent;
  border: none;
  padding: 0.9rem;
  transition: 0.3s ease;
}

.profile__logout:hover {
  background-color: #22222238;
  cursor: pointer;
  border-radius: 5px;
}
