:root {
  --primary-color: #f9cdcd;
  --secondary-color: #fff;
  --accent-color: #262523;
  --text-dark: #000;
}

.Profile {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.Profile__top {
  flex: 0 0 40%;
  background-color: var(--accent-color);
}

.Profile__bottom {
  flex: 1;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
  position: relative;
}

.Profile__itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.Profile__img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -180px;
  transform: translateX(-50%, -50%);
}

.Profile__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--accent-color);
}

.Profile__name h1 {
  font-size: 2.5rem;
  color: var(--text-dark);
  margin: 0.5rem 0;
}

.Profile__location h3 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 400;
}

.Profile__btn__container {
  display: flex;
  gap: 20px;
  width: 350px;
  height: 70px;
}

.profile__edit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

.profile__logout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  transition: background-color 0.3s ease;
}

.profile__edit:hover {
  background-color: white;
  border: 1px solid #f9cdcd;
}

.profile__logout:hover {
  background-color: #f9cdcd;
  border: 1px solid #f9cdcd;
}

.Profile__details {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  color: var(--text-dark);
}

.Profile__details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Profile__details li {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
