* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alliance";
  color: rgb(69 72 67);
}

::selection {
  background: pink;
  color: black; /* ou qualquer cor que contraste bem */
}

.title {
  font-family: "Alliance-semi";
  font-size: 5rem;
  max-width: 550px;
}

@font-face {
  font-family: "Alliance";
  src: url("./assets/fonts/AllianceNo2-Regular.woff2") format("woff2"),
    url("./assets/fonts/AllianceNo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alliance-semi";
  src: url("./assets/fonts/AllianceNo1-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/AllianceNo1-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Alliance";
}

h1 {
  font-family: "Alliance-semi";
}